<html>
    <head>
        <title>Vehicle Page</title>
    </head>
    <body>
        <p>
            <b>Make:</b> <%=@vehicle.make%>
        </p>
        <p>
            <b>Model:</b> <%=@vehicle.model%>
        </p>
        <p>
            <b>Color:</b> <%=@vehicle.color%>
        </p>
        <p>
            <b>Doors:</b> <%=@vehicle.doors%>
        </p>
        <p>
            <b>Seating:</b> <%=@vehicle.seating%>
        </p>
        <p>
            <b>Engine:</b> <%=@vehicle.engine%>
        </p>
        <p>
            <b>Diesel:</b> <%=@vehicle.engine%>
        </p>
    </body>
</html>